aiohttp==3.5.4
async-timeout==3.0.1
attrs==19.3.0
Babel==2.9.1
certifi==2020.4.5.1
chardet==3.0.4
cloudinary==1.21.1
discord.py==1.1.1
dj-database-url==0.4.2
Django==2.2.13
django-cloudinary-storage @ git+git://github.com/tiagocordeiro/django-cloudinary-storage@1ec7a081fbe5067253dd65dbd44b56c9e829d5e3
django-debug-toolbar==2.2
django-materializecss-form==1.1.14
django-phonenumber-field==2.0.0
django-resized==0.3.9
docutils==0.13.1
future==0.16.0
gunicorn==20.0.4
idna==2.8
jmespath==0.10.0
multidict==4.7.5
phonenumberslite==8.12.3
Pillow==7.1.2
psycopg2==2.7.5
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2018.3
requests==2.22.0
six==1.11.0
sorl-thumbnail==12.6.3
sqlparse==0.3.1
urllib3==1.25.9
websockets==6.0
whitenoise==5.0.1
yarl==1.4.2
