{% load staticfiles %}

<!DOCTYPE html>
<html lang="en-US">

  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport"    content="width=device-width, initial-scale=1">
    <meta name="Author"      content="LeMinaw">
    <meta name="Keywords"    content="skywanderers,warehouse,blueprint,archive,game,exchange,community,file,ship,spaceship,sky,wanderers">
    <meta name="Description" content="Welcome to the Skywanderers blueprint archive. This is an exchange warehouse for Skywanderers spaceship files.">

    <link rel="icon"       type="image/png" href="{% static 'img/favicon.png' %}"/>
    <link rel="stylesheet" type="text/css"  href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css"  href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald"/>
    <link rel="stylesheet" type="text/css"  href="{% static 'warehouse/css/base.css' %}"/>

    <title>SkyWarehouse, the Skywanderers blueprints archive | {% block title %}Home{% endblock %}</title>
  </head>

  <body class="w3-light-grey">
    {#CONTENT #}

    <script type="text/javascript" src="http://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src="https://use.fontawesome.com/329a4b4215.js"></script>
    <script type="text/javascript" src="{% static 'warehouse/js/base.js' %}"></script>
  </body>

</html>
