{% extends "skywarehouse/base.html" %}

{% load staticfiles %}
{% load materialize %}

{% block title %}
  {{ blueprint.name }}
{% endblock %}

{% block tab-blueprints %}
  class="active"
{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-content">
      <div class="row">
        <div class="col s12 m9">
          <h1 class="left">{{ blueprint.name }}</h1>
        </div>
        <div class="col s12 m3">
          <h1 class="right">
            <a href="{% url 'warehouse:fav_edit' slug=blueprint.slug %}" class="btn-floating btn-large waves-effect waves-light deep-purple lighten-3 fav"><i class="material-icons">
              {% if blueprint in request.user.favs.all %}
                favorite
              {% else %}
                favorite_border
              {% endif %}
            </i></a>
            <a href="{{ blueprint.last_file_version.download_url }}" class="btn-floating btn-large waves-effect waves-light deep-purple lighten-3"><i class="material-icons">file_download</i></a>
            <a href="{% url 'warehouse:files' slug %}" class="btn-floating btn-large waves-effect waves-light deep-purple lighten-3"><i class="material-icons">folder_open</i></a>
          </h1>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m9">
          {% if blueprint.image %}
            <img class="responsive-img" src="{{ blueprint.image.url }}">
          {% else %}
            <img class="responsive-img" src="{% static 'warehouse/img/nopic.png' %}">
          {% endif %}
          <p class="flow-text">{{ blueprint.desc|linebreaksbr|urlize }}</p>
          
          <h2>Grades</h2>
          <div class="row">
            <div class="col s12 m6 l4">
              {% include "warehouse/meter.html" with tooltip="Aesthetics grade" icon="brush" value=blueprint.aesthetic_grade %}
            </div>
            <div class="col s12 m6 l4">
              {% include "warehouse/meter.html" with tooltip="Technic grade" icon="build" value=blueprint.technic_grade %}
            </div>
            <div class="col s12 l4">
              {% include "warehouse/meter.html" with tooltip="Overall grade" icon="star" value=blueprint.total_grade %}
            </div>
          </div>

          <ul class="collapsible">
            <li>
              <div class="collapsible-header {% if 'review' in request.POST and review is none %}active{% endif %}"><i class="material-icons">poll</i>Review this ship</div>
              <div class="collapsible-body">
                {% if request.user.is_authenticated %}
                  {% if old_review is not none %}
                    <span class="card-title">You already made a review of this blueprint. You can edit it nevertheless.</span>
                  {% endif %}
                  <form name="review_form" action="" method="post">
                    {% csrf_token %}
                    {{ review_form.aesthetic_grade|as_material:"s12 m6" }}
                    {{ review_form.technic_grade|as_material:"s12 m6" }}
                    <div class="form-actions">
                      <button type="submit" name="{{review_form.prefix}}" class="btn btn-primary">Submit</button>
                    </div>
                  </form>
                {% else %}
                  <span class="card-title">You must be <a href="{% url 'login' %}">logged in</a> to review blueprints.</span>
                {% endif %}
              </div>
            </li>
          </ul>

          <h2>Comments ({{ blueprint.comments.all.count }})</h2>
          <div class="card">
            <div class="card-content">
              {% if request.user.is_authenticated %}
                <span class="card-title">Add a comment!</span>
                <form name="comment_form" action="" method="post">
                  {% csrf_token %}
                  {{ comment_form.content|as_material:"s12" }}
                  <div class="form-actions">
                    <button type="submit" name="{{comment_form.prefix}}" class="btn btn-primary">Submit</button>
                  </div>
                </form>
              {% else %}
                <span class="card-title">You must be <a href="{% url 'login' %}">logged in</a> to comment.</span>
              {% endif %}
            </div>
          </div>
          {% for comment in blueprint.comments.all %}
            <div class="card">
              <div class="card-content">
                <div class="row">
                  <div class="col s2 m1">
                    <img src="
                      {% if comment.author.avatar %}
                        {{ comment.author.avatar.url }}
                      {% else %}
                        {% static 'warehouse/img/nouser.png' %}
                      {% endif %}
                    " alt="{{ comment.author }}'s avatar" class="responsive-img circle">
                  </div>
                  <div class="col s10 m11">
                    <span class="card-title">
                      <a href="{{ comment.author.get_absolute_url }}">{{ comment.author }}</a>, {{ comment.added }}
                    </span>
                    <p>{{ comment.content }}</p>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>

        <div class="col s12 m3">
          <table class="bordered">
            <tbody>
              <tr><td>
                <h6>Category</h6>
                <b><a href="{{ blueprint.categ.get_absolute_url }}">{{ blueprint.categ }}</a></b>
              </td></tr>
              <tr><td>
                <h6>Author</h6>
                <b><a href="{{ blueprint.author.get_absolute_url }}">{{ blueprint.author }}</a></b>
              </td></tr>
              <tr><td>
                <h6>Publication date</h6>
                <b>{{ blueprint.added }}</b>
              </td></tr>
              <tr><td>
                <h6>Last modified</h6>
                <b>{{ blueprint.modif }}</b>
              </td></tr>
              <tr><td>
                <h6>Downloads</h6>
                <b>{{ blueprint.dwnlds }}</b>
              </td></tr>
              <tr><td>
                <h6>Fans</h6>
                <b>{{ blueprint.fans.count }}</b>
              </td></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  {% if request.user == blueprint.author %}
    {% include "warehouse/action_button.html" with link='warehouse:blueprint_edit' param=blueprint.slug icon='edit' action="Edit blueprint" %}
  {% endif %}
{% endblock %}

{% block scripts %}
  <script src="{% static 'warehouse/js/favs.js' %}"></script>
  {% if comment is not none %}
    <script>Materialize.toast("Comment added. Thank you!", 5000);</script>
  {% endif %}
  {% if review is not none %}
    <script>Materialize.toast("Review modified. Thank you!", 5000);</script>
  {% endif %}
{% endblock %}
