{% extends "skywarehouse/base.html" %}

{% load materializecss %}

{% block title %}
{% endblock %}

{% block tab-blueprints %}
  class="active"
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <h1>Blueprint edition: {{ blueprint.name|default:"create new" }}</h1>
    </div>
    <div class="row card">
      <form class="card-content" enctype="multipart/form-data" name="blueprint_form" action="" method="post">
        {% csrf_token %}
        {{ blueprint_form.name |materializecss:'s12 m6' }}
        {{ blueprint_form.categ|materializecss:'s12 m6' }}
        {{ blueprint_form.file |materializecss:'s12 m6' }}
        {{ blueprint_form.image|materializecss:'s12 m6' }}
        {{ blueprint_form.desc |materializecss:'s12'    }}
        <div class="form-actions center-align">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
