{% extends "skywarehouse/base.html" %}
{% load staticfiles %}

{% block tab-home %}
  class="active"
{% endblock %}

{% block content %}
  <div class="row">
    <p class="flow-text">Welcome to the Skywanderers Blueprint Archive ! Bkablablablabla placeholder text thank you.</p>
  </div>
  <div class="row">
    <ul class="black tabs tabs-fixed-width tabs-transparent">
      <li class="tab"><a href="#featured-tab">Featured</a></li>
      <li class="tab"><a href="#last-tab">Last publications</a></li>
      <li class="tab"><a href="#popular-tab">Popular</a></li>
    </ul>
  </div>
  <div class="row">
    <div class="container" id="featured-tab">
      {% include "warehouse/blueprintcards.html" with blueprints=blueprints_featured %}
    </div>
    <div class="container" id="last-tab">
      {% include "warehouse/blueprintcards.html" with blueprints=blueprints_last %}
    </div>
    <div class="container" id="popular-tab">
      {% include "warehouse/blueprintcards.html" with blueprints=blueprints_popular %}
    </div>
  </div>

  {% include "warehouse/action_button.html" with link='warehouse:blueprint_add' icon="file_upload" action="Upload blueprint" %}
{% endblock %}
