{% extends "skywarehouse/base.html" %}

{% load staticfiles %}
{% load materializecss %}

{% block title %}
  Blueprints
{% endblock %}

{% block tab-blueprints %}
  class="active"
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s12">
      <a href="{% url 'warehouse:main' %}" class="categ waves-effect waves-light deep-purple lighten-3 btn {% if slug is None %}disabled{% endif %}">all</a>
      {% for category in categories %}
        <a href="{{ category.get_absolute_url }}" class="categ waves-effect waves-light deep-purple lighten-3 btn {% if category.slug == slug %}disabled{% endif %}">{{ category }}</a>
      {% endfor %}
    </div>
  </div>
  <form id="sort_form" class="row" action="" method="get">
    {% for field in sort_form %}
      {{ field|materializecss:'s12 m4' }}
    {% endfor %}
    <noscript>
      <div class="input-field col s12">
        <button class="btn waves-effect waves-light" type="submit">Submit<i class="material-icons right">send</i></button>
      </div>
    </noscript>
  </form>

  {% include "warehouse/blueprintcards.html" %}

  {% if blueprints.has_other_pages %}
    <ul class="pagination center-align">
      {% if blueprints.has_previous %}
        <li class="waves-effect">
          <a href="
            {% if slug %}
              {% url 'warehouse:main' slug=slug id=blueprints.previous_page_number %}?{{ request.GET.urlencode }}
            {% else %}
              {% url 'warehouse:main' id=blueprints.previous_page_number %}?{{ request.GET.urlencode }}
            {% endif %}
          ">
            <i class="material-icons">chevron_left</i>
          </a>
        </li>
      {% else %}
        <li class="disabled">
          <a href="#!"><i class="material-icons">chevron_left</i></a>
        </li>
      {% endif %}

      {% for i in blueprints.paginator.page_range %}
        {% if blueprints.number == i %}
          <li class="active deep-purple lighten-3"><a href="#!">{{ i }}</a></li>
        {% else %}
          <li class="waves-effect">
            <a href="
              {% if slug %}
                {% url 'warehouse:main' slug=slug id=i %}?{{ request.GET.urlencode }}
              {% else %}
                {% url 'warehouse:main' id=i %}?{{ request.GET.urlencode }}
              {% endif %}
            ">
              {{ i }}
            </a>
          </li>
        {% endif %}
      {% endfor %}

      {% if blueprints.has_next %}
        <li class="waves-effect">
          <a href="
            {% if slug %}
              {% url 'warehouse:main' slug=slug id=blueprints.next_page_number %}?{{ request.GET.urlencode }}
            {% else %}
              {% url 'warehouse:main' id=blueprints.next_page_number %}?{{ request.GET.urlencode }}
            {% endif %}
          ">
            <i class="material-icons">chevron_right</i>
          </a>
        </li>
      {% else %}
        <li class="disabled">
          <a href="#!"><i class="material-icons">chevron_right</i></a>
        </li>
      {% endif %}
    </ul>
  {% endif %}

  {% include "warehouse/action_button.html" with link='warehouse:blueprint_add' icon="file_upload" action="Upload blueprint" %}
{% endblock %}

{% block scripts %}
  <script src="{% static 'warehouse/js/favs.js' %}"></script>
{% endblock %}
