{% extends "registration/_base.html" %}

{% block title %}
  Password reset
{% endblock %}

{% block form %}
  <h4 class="center-align">Password reset</h4>
  {% if validlink %}
    <form class="section" method="POST">
      {% csrf_token %}
      {{ form }}
      <button class="btn waves-effect waves-light" type="submit" name="action">Reset password
        <i class="material-icons right">send</i>
      </button>
    </form>
  {% else %}
    <p>Something's wrong with this password reset link :(. Please try again.</p>
  {% endif %}
{% endblock %}
