{% extends "registration/_base.html" %}

{% block title %}
  Password reset
{% endblock %}

{% block form %}
  <h4 class="center-align">Account recovery</h4>
  <p>If for any reason you lost your password, we can send a password reset link to the email you registered with.</p>
  <form class="section" method="POST">
    {% csrf_token %}
    {{ form }}
    <button class="btn waves-effect waves-light" type="submit" name="action">Send recovery email
      <i class="material-icons right">send</i>
    </button>
  </form>
{% endblock %}
